<h3>Interaction</h3>
<div class="row">
  <div class="col-sm-12">
    <svg width="300" height="80" viewBox="0 0 300 80" class="btn-interaction">
      <g>  
        <rect x="0" y="0" width="300" height="80" fill="#428A3E"  rx="15" ry="15" />
        <text x="33%" y="60%" font-family="Verdana" font-size="30" fill="white">commit</text>
      </g>
      
      <g class="slider">
        <rect x="0" y="0" width="70" height="80" fill="#5CB65C" rx="15" ry="15" class="rect-slider" />
        <text x="13" y="57" font-family="Verdana" font-size="55" fill="white" class="text-slider">&gt;</text>
        <text x="-100" y="60%" font-family="Verdana" font-size="30" fill="white" class="text-slider-commited">commited</text>
      </g>
    </svg>
  </div>
</div>


