<h2>{{fullname}}</h2>
<div class="row">
  <div class="col-sm-4">
    {{#each description}}
      <p>{{this}}</p>
    {{/each}}
  </div>
  <div class="col-sm-offset-2">
    <img src="{{image}}" alt="picture of {{fullname}}" height="200"/>
  </div>
</div>
<div class="row">

</div>

